@use '../custom' as *;

.footer {
    background-color: $purple-light;
    padding-top: 1rem;
}

.fa-brands {
    padding-right: 1rem;
}

footer a {
    text-decoration: none;
    color: $black;
}

footer a:hover,
footer a:focus {
    color: $white;
}