$purple-light: #B9B3E8;
$green-light: #C5E3B5;
$gray-light: #f7f4f4;
$pink-light: #DB8B87;
$yellow-light: #F2F586;
$black: #000;



$primary: $green-light;

$light: $purple-light;

$green: $black;




@import "../node_modules/bootstrap/scss/bootstrap.scss";